nav {
    font-size: 30px;
}

nav li{
    display: inline;
    margin: 0 0 0 30%;
}


body{

background: linear-gradient(to bottom, rgb(145, 240, 227), rgb(156, 188, 230));
font-size: 25px;
font-family: Georgia, 'Times New Roman', Times, serif;

}

h1{ 

    color: rgb(63, 117, 218);
    text-align: center;
}  
.imagem{
    width: 400px;
    margin-left:35%;
    border: solid 5px rgb(0, 0, 0)

}
