body{
background: linear-gradient(to bottom, rgb(145, 240, 227), rgb(230, 179, 156));
font-size: 25px;
font-family: Georgia, 'Times New Roman', Times, serif;

}

h1{ 

    color: rgb(63, 117, 218);
    text-align: center;
}  
.imagem{
    width: 400px;
    margin-left:35%;
    border: solid 5px rgb(0, 0, 0)

}
